@media (max-width: 375px) 
{
    *{
        padding: 0;
        margin: 0;
        
    }
    .navbar {
        height: 70px;
        width: 100%;
    }
    .nav-logo {
        height: 60px;
        width: 110px;
    } 
     .logo {
        background-image: url(images/amazon_logo.png);
        height: 50px;
        width: 85px;
    }
    .hero-section {
        display: cover;
        
    }
    .hero-msg {
        background-color: red;
    }





































}